!!! 5
%html
  %head
    %meta(charset="utf-8")
    %title Leaflet
    %link(type="text/css" href="/assets/styles.css" rel="stylesheet")
    %script(type="text/javascript" src="/assets/app.js")
  %body
    %header.ui-widget-header
      %h1 Leaflet
      %nav
        %ul
          %li
            %a(href="/")Catalog
          %li
            %a(href="/books/new")Manage Catalog
    .content.ui-widget-content
      = styled_flash
      = yield
    %footer.ui-widget-content
      %p
        Copyright &copy; 2012 <a href="http://bobnadler.com">Bob Nadler, Jr.</a> | <a href="https://github.com/bnadlerjr/leaflet">Source</a> available on Github